# .dockerignore file for the backend service
# This file specifies which files and directories should be ignored by Docker when building the image.
node_modules
npm-debug.log
Dockerfile
.dockerignore
*.test.js
